<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Photo Album Manager</title>

<!-- Custom styles for this template -->
<link href="css/thumbnail-gallery.css" rel="stylesheet">

</head>

<body>

	<!-- Header fragment -->
	<div th:replace="fragments/header"></div>

	<!-- Page Content -->
	<div class="container">

		<h1 class="my-4 text-center text-lg-left">Thumbnail Gallery</h1>

		<div id="gallery" class="row text-center text-lg-left"></div>

	</div>
	<!-- /.container -->

	<!-- Footer fragment  -->
	<div th:replace="fragments/footer.html"></div>
	<script type="text/javascript" src="js/gallery.js"></script>
</body>

</html>
